<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="all" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Workshop\CMS Panel\App_Data\DB.mdf;Integrated Security=True"/>
  </connectionStrings>

</configuration>
