#content > .holder {
    transition: 0.3s;
    /*width: 1360px;
    height:900px;*/
    position: relative;
    margin: 0 0 0 auto;
    overflow: hidden;
    /*border:1px solid #ccc;*/
}

    #content > .holder > .right {
        width: 315px;
        position: fixed;
        top: 0;
        right: 0;
        display: inline-block;
        transition: 0.3s;
        background: #fff;
        height: 100%;
        z-index: 210;
        overflow: hidden;
        box-shadow: 0 1px 11px rgba(0,0,0,.15);
    }






    #content > .holder > .center {
        transition: 0.3s;
        width: 1000px;
        padding: 7px;
        border-radius: 3px;
        margin: 35px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 11px rgba(0,0,0,.15);
    }





