#content > .holder {
    padding-bottom: 50px;
    width: 1360px;
    /*height:900px;*/
    margin: 30px auto;
    overflow: hidden;
    /*border:1px solid #ccc;*/
}

    #content > .holder > .right {
        width: 23%;
        border: 1px solid #ccc;
        height: 700px;
        float: right;
    }

    #content > .holder > .center {
        width: 73.5%;
        background: #6200EA;
        /*height: 900px;*/
        float: left;
        padding: 7px;
        border-radius: 3px;
    }
