#content > .holder {
    transition: 0.3s;
    /*width: 1360px;
    height:900px;*/
    position: relative;
    margin: 0 0 0 auto;
    overflow: hidden;
    /*border:1px solid #ccc;*/
}

    #content > .holder > .right {
        width: 315px;
        position: fixed;
        top: 0;
        right: 0;
        display: inline-block;
        transition: 0.3s;
        height: 100%;
        z-index: 210;
        overflow: hidden;
        box-shadow: 0 1px 11px rgba(0,0,0,.15);
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: bottom;
    }






    #content > .holder > .center {
        transition: 0.3s;
        width: 1000px;
        padding: 7px;
        border-radius: 3px;
        margin: 35px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 11px rgba(0,0,0,.15);
    }
