#content > .holder > .right > .headright {
    width: 100%;
    height: 60px;
    background-color: #6761B5;
}

    #content > .holder > .right > .headright > .menuswitch {
        float: left;
        width: 60px;
        height: 100%;
        background-image: url("../../images/Micon/hamburg.png");
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: 15px center;
    }


#content > .holder > .right > .proinfo {
    transition: 0.3s;
    margin-bottom: 10px;
    background: #fff;
    height: 180px;
    border-bottom: 1px solid #ccc;
    overflow:hidden;
}

    #content > .holder > .right > .proinfo > img {
        transition: 0.3s;
        border-radius: 100%;
        width: 90px;
        margin: 20px 20px 10px 10px;
    }

    #content > .holder > .right > .proinfo > h2 {
        transition: 0.3s;
        height: 28px;
        width: 180px;
        margin: 5px;
        display: inline-block;
        position: relative;
        top: -55px;
        font-size: 19px;
        font-weight: normal;
        overflow: hidden;
    }

        #content > .holder > .right > .proinfo > span:hover,
        #content > .holder > .right > .proinfo > h2:hover,
        #content > .holder > .right > .proinfo > img:hover {
            cursor: pointer;
        }

    #content > .holder > .right > .proinfo > span {
        transition: 0.3s;
        color: #35cd3a;
        font-size: 15px;
        position: relative;
        top: -80px;
        right: 130px;
        display: inline-block;
        overflow: hidden;
    }

    #content > .holder > .right > .proinfo > div:hover {
        cursor: pointer;
        transition: 0.3s;
        color: #fff;
        background-color: #4D7CFE;
    }



    #content > .holder > .right > .proinfo > div {
        transition: 0.3s;
        display: inline-block;
        margin: 10px;
        font-size: 15px;
        right: -45px;
        position: relative;
        top: -8px;
        padding: 3px 5px;
        overflow: hidden;
    }

        #content > .holder > .right > .proinfo > div > .material-icons {
            transition: 0.3s;
            position: absolute;
            top: 0;
            right: 0;
            height: 0;
            width: 0;
            overflow: hidden;
        }


/*Accardion==================================================*/
.right > #accardion {
    padding: 0;
    margin: 0;
    list-style: none;
    direction: rtl;
    font-family: sam;
    color: #555;
}


    .right > #accardion > li {
        padding: 7px 0;
    }

        .right > #accardion > li:last-child {
            margin: 0;
        }

        .right > #accardion > li > input {
            display: none;
        }

            .right > #accardion > li > input:checked + label {
                transition: 0.3s;
                display: block;
                color: #9A9A9A;
                height: 30px;
                padding: 6px 25px;
                text-indent: 20px;
                background-color: #F7F7F7;
                background-repeat: no-repeat;
                background-image: url("../images/Micon/up.png");
                background-position: 20px center;
                background-size: 11px;
                border-bottom: 1px solid #4D7CFE;
            }

                .right > #accardion > li > input:checked + label > .material-icons {
                    transition: 0.3s;
                    color: #4D7CFE;
                }

            .right > #accardion > li > input:checked ~ .content {
                transition: 0.3s;
                height: 112px;
                margin-top: 0;
                padding-top: 15px;
            }

        .right > #accardion > li > label:hover {
            transition: 0.3s;
            cursor: pointer;
            background-color: #F7F7F7;
        }

        .right > #accardion > li > label {
            background-image: url("../images/Micon/down.png");
            background-position: 20px center;
            background-size: 11px;
            background-repeat: no-repeat;
            transition: 0.3s;
            cursor: pointer;
            display: block;
            color: #9A9A9A;
            height: 30px;
            padding: 6px 25px;
            line-height: 29px;
            text-indent: 20px;
            position: relative;
            border-bottom: 1px solid transparent;
        }

            .right > #accardion > li > label > .material-icons {
                transition: 0.3s;
                position: absolute;
                top: 10px;
                right: 12px;
            }

        .right > #accardion > li > .content {
            transition: 0.3s;
            overflow: hidden;
            padding-top: 0;
            transition: 0.3s;
            background-color: #F7F7F7;
            height: 0;
        }

            .right > #accardion > li > .content > a:hover {
                transition: 0.2s;
                border-right: 5px solid #4D7CFE;
                color: #4D7CFE;
                background: url("../images/Micon/dot.png") no-repeat 265px center;
                background-size: 5px;
            }

            .right > #accardion > li > .content > a {
                transition: 0.2s;
                background: url("../images/Micon/dot.png") no-repeat 270px center;
                background-size: 5px;
                display: block;
                background-color: #F7F7F7;
                margin-top: 0;
                font-family: sam;
                text-decoration: none;
                color: #9A9A9A;
                text-indent: 60px;
                padding: 5px 0;
                border-right: 0 solid #4D7CFE;
            }






/*close panel ====================================================================*/

.menuswitch:hover {
    cursor: pointer;
    transition: 0.3s;
}

#content > .holder > .right.close {
    width: 70px;
    transition: 0.3s;
}

    #content > .holder > .right.close > .headright > .menuswitch {
        background-image: url("../../images/Micon/close.png");
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: 15px center;
        width: 100%;
    }


    #content > .holder > .right.close > .proinfo > img {
        width: 60px;
        margin: 25px 5px 10px 5px;
    }

    #content > .holder > .right.close > .proinfo > span,
    #content > .holder > .right.close > .proinfo > h2 {
        transition: 0.3s;
        width: 0;
        height: 0;
        margin: 0;
    }

    #content > .holder > .right.close > .proinfo > div {
        transition:0;
        margin: 4px 0px;
        right: -1px;
        top: -19px;
        color: transparent;
    }

#content > .holder > .right.close > .proinfo > div:hover>i{
    transition:0.3s;
    color:#fff;
}

#content > .holder > .right.close > .proinfo > div > .material-icons {
    transition: 0.3s;
    top: 4px;
    right: 21px;
    height: 24px;
    width: 24px;
    color: #9a9a9a;
}


/*part two*/

.right.close > #accardion > li {
    transition: 0.3s;
    margin-bottom: 10px;
}

    .right.close > #accardion > li > input:checked + label {
        color: transparent;
        background: #F7F7F7;
    }

    .right.close > #accardion > li > label > .material-icons {
        color: #9a9a9a;
    }

    .right.close > #accardion > li > input:checked ~ .content {
        transition: 0.3s;
        height: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .right.close > #accardion > li > label {
        color: transparent;
        background: transparent;
    }

#content > .holder > .right.close > .proinfo {
    transition: 0.3s;
    height: 250px;
}

    #content > .holder > .right.close > .proinfo > div {
        transition: 0.3s;
        display: block;
        margin: 10px 0;
        font-size: 15px;
        right: 0px;
        position: relative;
        top: -17px;
        padding: 4px 10px;
        border-radius: 0;
        text-align: center;
    }

.right.close > #accardion > li > label:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #F7F7F7;
}

.right.close > #accardion > li > label > .material-icons {
    transition: 0.3s;
    position: absolute;
    top: 6px;
    right: 18px;
    font-size: 30px;
}
