body {
    transition: 0.3s;
    margin: 0;
    direction: rtl;
    font-family: sam;
    color: #555;
    padding: 60px 315px 0 0;
    background-color: #F9FBFD;
}

.head {
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #716aca;
    right:0;
    z-index: 250;
}

    .head>div{
        float:right;
    }

    #header {
        transition: 0.3s;
        height: 60px;
        background: #716aca;
        padding: 0 15px;
        position: relative;
        z-index: 300;
    }

#content {
    transition: 0.3s;
    position: relative;
    background-color: #F9FBFD;
   
}


#content>#time {
    transition:0.3s;
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:20px;
    direction:ltr;
    background-color:#333;
    border-radius:3px;
    color:#fff;
    padding:5px 7px;
}