body {
    margin: 0;
    direction: rtl;
    font-family: sam;
    color: #555;
}

#header {
    border:1px solid #333;
    height:150px;
    background:#333;
    /*box-shadow:0 0 20px 1px #333;*/
    z-index:20;
    position:relative;
}

#content {
    /*height: 1000px;*/
    background: #bbb;
    /*border-top:1px solid transparent;*/
}

#footer {
    /*border-top:5px solid #ccc;*/
    background:#333;
    height:200px;
}