body {
    transition:0.3s;
    margin: 0;
    direction: rtl;
    font-family: sam;
    color: #555;
    padding: 0 315px 0 0;
    background-color: #F9FBFD;
}

#header {
    height: 60px;
    background: #716aca;
    padding: 0 15px;
    position:relative;
    z-index:300;
}

#content {
    transition: 0.3s;
    background-color: #F9FBFD;
}

#footer {
    /*border-top:5px solid #ccc;*/
    background: #333;
    height: 200px;
}
