.form {
    border-radius: 3px;
    padding-bottom: 40px;
    padding-top: 7px;
}

    .form > h2 {
        font-family: sam;
        font-weight: normal;
        color: #575962;
        text-align: right;
        margin: 10px 0 0 0;
        padding: 7px 0;
        line-height: 40px;
        height: 50px;
        text-indent: 65px;
        border-bottom: 2px solid #f1f1f1;
    }


    .form > #error {
        width: 80%;
        margin: 50px auto;
        color: #FF6D00;
    }

    .form > .items {
        transition:0.3s;
        width: 85%;
        margin: 10px 60px 40px auto;
        /*background: #333;*/
        padding: 4px;
        border-radius: 3px;
        position: relative;
    }
        /*new=============================start==========================*/
        .form > .items.item1,
        .form > .items.item4,
        .form > .items.item9,
        .form > .items.item12 {
            width: 23%;
            margin: 10px 60px 40px 0;
            display: inline-block;
            padding-left: 30px;
        }


        .form > .items.item2, .form > .items.item3, .form > .items.item5, .form > .items.item6, .form > .items.item10, .form > .items.item11, .form > .items.item13 {
            width: 23%;
            margin: 10px 30px 40px 0;
            display: inline-block;
            padding-left: 30px;
        }

        .form > .items.item7 {
            margin: 10px 60px 10px 0;
        }


        .form > .items.item14, .form > .items.item16 {
            width: 38%;
            margin: 10px 60px 40px 0;
            display: inline-block;
            padding-left: 30px;
        }

        .form > .items.item15, .form > .items.item17 {
            width: 38%;
            margin: 10px 30px 40px 0;
            display: inline-block;
            padding-left: 30px;
        }

.items.item18 {
    display: inline-block;
    width: 51%;
    margin: 10px 60px 40px auto;
}

.items.item19 {
    display: inline-block;
    width: 30%;
    margin: 10px 30px 40px auto;
}

/*new=============================end==========================*/

.form > .items > img {
    width: 100%;
    display: block;
}

.form > .items > .title {
    top: -27px;
    color: #495057;
    position: absolute;
    padding: 3px 7px;
    width: 100px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    right: 8px;
    text-align: right;
    font-family: sam;
    border-radius: 3px 3px 0 0;
    font-size: 15px;
}

.form > .items > .tt {
    border-radius: 3px;
    position: relative;
    top: 0;
}

.form > .items > .tt2 {
    border-radius: 3px 3px 0 0;
    position: relative;
    top: 0;
    right: 0;
}

.form > .items > input:hover {
    transition: 0.3s;
}

.form > .items > input:focus {
    transition: 0.3s;
    border-color: #3e93ff;
}


.form > .items > input {
    transition: 0.3s;
    width: 100%;
    background: #fff;
    border: 0 none;
    height: 40px;
    text-indent: 10px;
    font-family: sam;
    border-radius: .25rem;
    font-size: 13px;
    border: 1px solid #ebedf2;
}

    .form > .items > input:focus {
        transition: 0.3s;
        /*box-shadow: -2px 2px 1px 3px blue;*/
    }

.form > .items > select:focus {
    transition: 0.3s;
    border-color: #3e93ff;
}

.form > .items > select {
    width: 100%;
    background: #fff;
    border: 0 none;
    height: 42px;
    text-align: center;
    font-family: sam;
    font-size: 14px;
    border-radius: 3px 0 3px 3px;
    color: #666;
    border: 1px solid #ebedf2;
}

    .form > .items > select > option {
        font-family: sam;
        font-size: 12px;
    }


.form > .items > input[type=file] {
    display: none;
}

    .form > .items > input[type=file] + label {
        display: inline-block;
        width: 110px;
        background: #4D7CFE;
        cursor: pointer;
        line-height: 35px;
        color: #fff;
        border: 0 none;
        height: 35px;
        text-align: center;
        font-family: sam;
        font-size: 15px;
        border-radius: 3px;
    }

.form > .items > textarea:focus {
    transition: 0.3s;
    border-color: #3e93ff;
}

.form > .items > textarea {
    margin-top: 0;
    width: 99%;
    min-width: 99%;
    max-width: 99%;
    height: 180px;
    min-height: 180px;
    display: block;
    border-radius: 3px 0 3px 3px;
    padding-top: 10px;
    font-family: sam;
    font-size: 15px;
    color: #444;
    border: 1px solid #ebedf2;
}

.form > .items.no_color {
    background: transparent;
    margin: 0px 60px 20px auto;
    display: inline-block;
    width: 165px;
}





.form > .items > input[type=radio] {
    display: none;
}

    .form > .items > input[type=radio] + label:hover {
        transition: 0.3s;
        cursor: pointer;
    }

    .form > .items > input[type=radio] + label {
        background: url("../images/Micon/uncheck.png") no-repeat 90% 50%;
        background-size: 30px;
        margin-right: 10%;
        color: #666;
        padding-right: 40px;
    }

    .form > .items > input[type=radio]:checked + label {
        background: url("../images/Micon/check.png") no-repeat 90% 50%;
        background-size: 30px;
    }

.form > .items > input[type=submit] {
    font-size: 16px;
    margin: 1px 5px;
    text-align: center;
    text-indent: 0;
    background: #4aa8f7;
    border-bottom: 2px solid #405ca8;
    cursor: pointer;
    width: 100px;
    border-radius: 3px;
    color: #eee;
}

.form > .items > input.redbut {
    background: #f3545d;
    border: 0 none;
    border-bottom: 4px solid #c8464d;
}

.form > .items > input.greenbut {
    background: #35cd3a;
    border: 0 none;
    border-bottom: 4px solid #2eae32;
}


/*switch box*/

.switch input {
    display: none;
}

.switch {
    display: inline-block;
    width: 50px;
    height: 20px;
    margin: 8px;
    transform: translateY(50%);
    position: relative;
    top: 5px;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #777;
        border-radius: 30px;
        transform: translateX(-30px);
        transition: .4s;
    }

input:checked + .slider:before {
    transform: translateX(30px);
    background: limeGreen;
}

input:checked + .slider {
    box-shadow: 0 0 0 2px limeGreen,0 0 2px limeGreen;
}





.switchmain {
    direction: ltr;
    font-size: 15px;
}