.grid {
    border-radius: 2px;
    padding-bottom: 40px;
}

    .grid > h2 {
        font-family: sam;
        font-weight: normal;
        color: #575962;
        text-align: right;
        margin: 10px 0 0 0;
        padding: 7px 0;
        line-height: 40px;
        height: 50px;
        text-indent: 65px;
        border-bottom: 2px solid #f1f1f1;
    }

    .grid > .items {
        transition: 0.3s;
        margin: 0 30px;
        padding: 3px;
        list-style: none;
        font-family: sam;
        font-size: 19px;
        height: 44px;
    }

    .grid > .header {
        padding: 40px 60px 10px 0;
        font-family: sam;
        font-size: 16px;
        margin: 30px 30px 0;
        height: 6px;
    }

    .grid > .items.slidegrid:hover {
        transition: 0.3s;
        border-color: #3e93ff;
    }

    .grid > .items.slidegrid {
        margin-bottom: 5px;
        transition: 0.3s;
        font-size: 14px;
        background-color: #Fff;
        border-radius: 3px;
        border: 1px solid #ebedf2;
        color: #777;
        animation: slide 0.8s;
    }

        .grid > .items.slidegrid:nth-child(2n+1) {
            background-color: #f2f2f2;
        }

@keyframes slide {
    0% {
        opacity: 0;
        transform: scale(0.5) rotateY(-90deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotateY(0);
    }
}

.grid > .items.slidegrid > li:not(.pic) {
    top: -16px;
    margin-right: 5px;
    /*border:1px solid red;*/
}

.grid > .items.slidegrid > li:nth-child(2) {
    width: 190px;
}

.grid > .items.slidegrid > li:nth-child(3) {
    width: 90px;
    margin-right: 13px;
}

.grid > .items.slidegrid > li:nth-child(4) {
    width: 90px;
    margin-right: 8px;
}

.grid > .items.slidegrid > li:nth-child(5) {
    margin-right: 30px;
}

.grid > .items.slidegrid > li:nth-child(6) {
    margin-right: 34px;
}

.grid > .items.slidegrid > li:nth-child(7) {
    margin-right: 35px;
}


.grid > .items.header > li {
    transition: 0.3s;
    display: inline-block;
    width: 80px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    color: #495057;
}

    .grid > .items.header > li:nth-child(1) {
        margin-right: 50px;
    }

    .grid > .items.header > li:nth-child(2) {
        margin-right: 65px;
    }

    .grid > .items.header > li:nth-child(3) {
        margin-right: 14px;
    }

    .grid > .items.header > li:nth-child(4) {
        margin-right: 30px;
    }

    .grid > .items.header > li:nth-child(5) {
        margin-right: 30px;
    }

    .grid > .items.header > li:nth-child(6) {
        margin-right: 30px;
    }

    .grid > .items.header > li:nth-child(7) {
        margin-right: 30px;
    }

.grid > .items > li {
    transition: 0.3s;
    display: inline-block;
    width: 80px;
    /*height: 30px;*/
    text-align: center;
}

    .grid > .items > li.pic {
        width: 43px;
        height: 43px;
    }

    .grid > .items > li:not(.pic) {
        position: relative;
        top: -12px;
    }


    .grid > .items > li.pic > img:hover {
        transition: 0.3s;
        transform: scale(3);
        position: relative;
        z-index: 5;
    }

    .grid > .items > li.pic > img {
        transition: 0.3s;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }

    .grid > .items > li.date {
        width: 110px;
    }

.grid > .items.slidegrid > li.edit:hover {
    transition: 0.3s;
}

.grid > .items.slidegrid > li.edit {
    transition: 0.3s;
    width: 30px;
    height: 30px;
    background: url("../images/Micon/edit.png") no-repeat;
    background-size: 30px;
    cursor: pointer;
    top: -5px;
    margin-right: 40px;
}

.grid > .items > li.edit > a {
    display: block;
    width: 100%;
    height: 100%;
}

.grid > .items.slidegrid > li.del:hover {
    transition: 0.3s;
}

.grid > .items.slidegrid > li.del {
    transition: 0.3s;
    width: 30px;
    height: 30px;
    background: url("../images/Micon/del.png") no-repeat 0% 100%;
    background-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    top: -6px;
}


/*  loader*/

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #4D7CFE;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 0.5s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.geleydun {
    height: 100px;
    width: 100px;
    margin: 40px auto;
    display: none;
}

    .geleydun.show {
        display: block;
    }
