#content > .holder {
    width: 500px;
    margin: 0px auto;
    direction: ltr;
}

    #content > .holder > .center {
        width: 100%;
    }

.form {
    direction: rtl;
    padding-bottom: 30px;
    width: 485px;
    background-image: url('../images/Micon/bak.jpg');
}

    .form > img {
        width: 100px;
        margin: 50px auto;
        display: block;
    }

    .form > #error {
        text-indent: 20px;
        width: 80%;
        margin: 10px auto 70px;
        color: #8bc34a;
    }

    .form > .items {
        background: transparent;
        width: 70%;
        margin-bottom: 60px;
    }

        .form > .items > input {
            transition: 0.3s;
            width: 100%;
            background: #fff;
            height: 40px;
            text-indent: 10px;
            font-family: sam;
            border-radius: .25rem;
            font-size: 13px;
            border: 1px solid #ebedf2;
        }

            .form > .items > input:focus {
                transition: 0.3s;
                border-color: #3e93ff;
            }

        .form > .items > .title {
            top: -27px;
            color: #495057;
            position: absolute;
            padding: 3px 7px;
            width: 100px;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            right: 8px;
            text-align: right;
            font-family: sam;
            border-radius: 3px 3px 0 0;
            font-size: 15px;
        }



        .form > .items > input[type="submit"] {
            width:110px;
            margin:0;
        }

        body{
            padding:0;
        }